.Button {
  padding: 5px 10px;
  background-color: #61e1b0;
  border: 1px solid orange;
  border-radius: 5px;
  color: #75124c;
  font-size: 16px;
  font-weight: 500;

  &.active {
    background-color: #d36f6f;
    color: white;
    font-weight: 700;
  }
}

